.add-user-button {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

table {
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
}
