/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

// Pie Chart Styles
.advanced-pie-legend
  .legend-items-container
  .legend-items
  .legend-item
  .item-value {
  margin-top: 0px !important;
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
  line-height: unset;
}
